language: go

go:
  - 1.2
  - 1.3
  - 1.4
  - 1.5

install:
  - go get -d -v ./... && go build -v ./...
  - go get github.com/stretchr/testify/assert
  - go get golang.org/x/tools/cmd/cover
  
script:
  - ./run-tests.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
